.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 5px;
  row-gap: 15px;
  justify-items: stretch;
  align-items: stretch;
}

.mathProblem {
  grid-area: mp;
  align-self: flex-end;
}

.stars {
  grid-area: stars;
}

.star{
  height: 10vh;
}

.footerLink {
  font-size: 3vh;
  grid-area: link;  
}


@media (orientation: portrait) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4vh auto 14vh 14vh 14vh 14vh 14vh 15px;
    grid-template-areas: 
    "stars stars stars"
    "mp mp mp"
    ". . ."
    ". . ."
    ". . ."
    ". del del"
    "go go go"
    "link link link";
  }
}

@media (orientation: landscape) {
 
  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 4vh auto 14vh 14vh 14vh;
    grid-template-areas: 
    "stars stars stars stars stars stars stars stars stars stars"
    "mp mp mp mp mp mp mp mp mp mp"
    ". . . . . . . . . ."
    "del del del go go go go go go go"
    "link link link link link link link link link link";
  }
}

