.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-spacer {
  flex: 0.08;
}
.center {
  justify-content:center;
  align-items:center;
  width: 100%;
}


html, body, #root, .App, .App>div {
  height: 100%;
}

body{
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-color: $background;
  color: $dark-color;
}

@media (orientation: landscape) {
  body {
    font-size: 29vh;
  }
}

@media (orientation: portrait) {
  body {
    font-size: 16vw;
  }
}
