.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-spacer {
  flex: 0.08;
}
.center {
  justify-content:center;
  align-items:center;
  width: 100%;
}

.halfWidth{
  width: auto;
}

html, body, #root, .App, .App>div {
  height: 100%;
}

body{
  text-align: left;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 17vw;
  background-color: $background;
  color: $dark-color;
}
